@import url('../section/section.css');


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--100vh);
  overflow: hidden;
  background-color: #fff;

  display: flex;

  overscroll-behavior-y: contain;

  transform-origin: top center;
  will-change: transform, border-radius;
}
