.section-header {
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--section-header_height);

  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  background: #fff;

  overflow: hidden;

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.section-header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  max-height: var(--section-header_height);
  opacity: 0;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em;

  will-change: transform, opacity;
  transition: transform 150ms, opacity 150ms;
}
.section-header__title_visible {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.section-header__right {
  display: flex;
  height: 100%;
}

.section-header__item {
  position: relative;

  min-width: 20px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
